/*
 search support ... 
 lib name: gramado-search.css 
 
 Obs: Isso é um protótipo.
 */


    /*
	 Elements support.
	 */
	 
    html, body { 
	    margin:0; 
		padding:0; 
	}
	
	a {
		color: #3b5998;
		text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
	}
	
	
    ul.post-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
		
	   /* 
	    list-style-image: url('https://frednora.github.io/images/favicon.ico');
		list-style-position: left; 
		*/
    }	
	
    .container-module {
        margin-left: auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        /*width: 75%;*/
		width: 65%;
        background-color: #D8D8D8;	
    } 	

	/*
	   ** Navigation support  ** 
	 */
	 
    
	.navigation {    
	    font-size:20px;
        font-family:'Arial';
        margin-left:auto;
        margin-right:auto;
        border:1px solid #e1e8ed;
        border-bottom:1px solid #e1e8ed;	
	    float: right;
        display: block;
        width:100%;
        height:60px;
        background-color:#fff;
	    text-align:center;
    }

    .navigation .nav-item {
        float:left;
	    display: block;
	    text-align:center;
    }

    .navigation .nav-item a {
        border-right:1px solid #e1e8ed;    
        padding:20px 40px 19px 40px;
        text-decoration:none;
        color:#55acee;
        transition: box-shadow 100ms ease;
    }
 
    .navigation .nav-item:last-child a { 
	    border-right:none; 
	}
	
    .navigation .nav-item a:hover { 
	    box-shadow: 0 -15px 0 -10px #55acee inset; 
	}
	

    /*
        ** other simple classes support  **
     */

 
    /* Box onde os resultados da pesquis são apresentados.*/
    .search-results-list-box{
	
	}
 
    /* Uma lista de resultados de pesquisa */
    .search-results-list {
	 
    }

	.searchEditBox {
		padding: 1px;
	    width: 403px; 
		height: 34px; 
	}
	
	.searchButton {
        font-size: 14px;
	    font-family: arial,sans-serif;
        font-weight: bold;
	    padding: 1px;
		width: 125px; 
		height: 36px; 
        color: #757575; 		
	}
	
	.searchButton:hover {
        font-size: 14px;
	    font-family: arial,sans-serif;
        font-weight: bold;
	    padding: 1px;
		width: 125px; 
		height: 36px; 
		color: #000000;
    }
 
 
    .v-center {
        text-align:center;
        position:relative;
        top:50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    } 
	
	/*global footer*/
    .footer {
		
		/*border: solid 2px Gray;*/
		/*border-bottom: 8px solid #91D2FA;*/
	    width: 100%;
        display: block;	
        text-align: center;		
	}	
 
 
    /*
         ** Simple ids support.  **
    */
  

    #header-string { 
	    margin-left:auto;
		padding:20px 40px 19px 40px;
	    color: #6D6D6D; 
	}

    #forms { 
	    margin-left:auto;
		padding:20px 40px 19px 40px;
	    text-align: left; 
	}
	
	#resultLinks {
	    margin-left:auto;
		padding:20px 40px 19px 40px;
	}
	
    #buttons { 
	    text-align: center; 
	}  
  
    #footer { 
		font-size: 12pt;
        font-family: Arial,sans-serif;
        font-weight: bold;
        border: solid 2px Gray;
        border-bottom: 8px solid #91D2FA;
		position:fixed;
        left:0px;
        bottom:0px;
	    width:100%;
		height:5%;
	    background-color: #cecece;
        color:Black;
        text-align: center;        
    }

	
    /*
        **  @media support  **
    */
 
/* 
   Barra de navegação original, não modificada.
   When the screen is less than 1024 pixels wide, hide all links, except for 
   the first one ("menu"). Show the link that contains should open and close 
   the navbar (.icon) 
*/
@media screen and (max-width: 1023px) {
    .navigation .nav-item:not(:first-child) {display: none;}
    .navigation a.icon {
        float: left;
        display: block;
    }
	
	
    .container-module {
        margin-left: auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        /*width: 75%;*/
		width: 100%;
        background-color: #D8D8D8;	
    } 		
    
	#seb {
	    width: auto;	
	}

    #footer { display:none; };
}

/* The "responsive" class is added to the navbar with JavaScript 
when the user clicks on the icon. 
This class makes the navbar look good on small screens 
(display the links vertically instead of horizontally) */
@media screen and (max-width: 1023px) {
    .responsive { position: relative; }
	
    .responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;	
    }
	
    .responsive .nav-item:first-child {
	    font-size: 16px;
		font-family: arial, sans-serif;
		font-weight: normal;
		display: none;
	}	
	
    .responsive .nav-item a {
        border:1px solid #e1e8ed;
        border-bottom:1px solid #e1e8ed;
        float: none;
        display: block;
        text-align: left;
        background-color:#fff;
    }
	
    .responsive .nav-item a:hover { 
	    box-shadow: 0 -15px 0 -10px #55acee inset; 
	}	
}

/*Responsive for large width, hide menu itens.*/
@media screen and (min-width: 1023px){
	
    .navigation .nav-item:first-child {display: none;}
    .responsive {
	    font-size:20px;
        font-family:'Arial';
        margin-left:auto;
        margin-right:auto;
        border:1px solid #e1e8ed;
        border-bottom:1px solid #e1e8ed;
        float: right;
        display: block;	
        width:100%;
        height:60px;
        background-color:#fff;
	    text-align:center;
    }

    .responsive .nav-item:not(:first-child) {display: none;}
    
	.responsive a.icon { 
      float: left; 
	  display: block; 
	}
	
    .responsive .nav-item {
        float:left;
	    display: block;
	    text-align:center;
    }
	
    .responsive .nav-item a {
		border-right:1px solid #e1e8ed;
        padding:20px 40px 19px 40px;
        text-decoration:none;
        color:#55acee;
        transition: box-shadow 100ms ease;
    }
	
    .responsive .nav-item:last-child a{ 
	    border-right:none; 
	}
	
    .responsive .nav-item a:hover { 
	    box-shadow: 0 -15px 0 -10px #55acee inset; 
	} 
}



	

	 
